@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

.card {
  box-shadow: 2px 2px 10px grey;
}
.price-list {
  color: rgb(224, 212, 37);
  font-weight: 700;
  font-size: 25px;
}
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-text {
  margin-left: 20px;
}
.footer-content {
  /* border: 1px solid black; */
  margin: 15px 0;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 5px 25px whitesmoke;
}
